<fieldset class="column">
  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="screen_label">Label</label>

    <%= tag.input id: :screen_label,
                  name: "screen[label]",
                  value: field_for(:label, fields, screen),
                  class: :value,
                  autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :name, errors:).render do %>
    <label class="key" for="screen_name">
      Name
      <%= scope(:popover_trigger_button, tip: :info, target: :name).render %>
    </label>

    <%= tag.input id: :screen_name,
                  name: "screen[name]",
                  value: field_for(:name, fields, screen),
                  class: :value,
                  autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :model_id, errors:).render do %>
    <label class="key" for="screen_model_id">
      Model
      <%= scope(:popover_trigger_button, tip: :info, target: :model).render %>
    </label>

    <%= form.select :model_id, select_options_for(models), id: :screen_model_id, class: :value %>
  <% end %>

  <%= scope(:form_field, key: :image, errors:).render do %>
    <label class="key" for="screen_image">
      Image
      <%= scope(:popover_trigger_button, tip: :info, target: :image).render %>
    </label>

    <%= form.file_field :image,
                        id: :screen_image,
                        value: field_for(:image_data, fields, screen),
                        class: :value %>

    <%= tag.span screen.image_name, class: "bit-pill bit-pill-active" if screen && screen.image_attributes %>
  <% end %>
</fieldset>

<%= render "screens/shared/popovers/all" %>
