<div class="measurements">
  <label class="measurement">
    <% if device.charging %>
      <%= tag.meter min: 0, max: 100, value: 100, class: :battery %>
    <% else %>
      <%= tag.meter min: 0,
                    low: 25,
                    high: 75,
                    optimum: 95,
                    max: 100,
                    value: device.battery_percentage,
                    class: :battery %>
    <% end %>

    <%= device.battery_measurement_label %>
  </label>

  <label class="measurement">
    <%= tag.meter min: 0,
                  low: 25,
                  high: 75,
                  optimum: 95,
                  max: 100,
                  value: device.wifi_percentage,
                  class: :signal %>
    <%= device.wifi_measurement_label %>
  </label>
</div>
