<%= render "shared/title", text: "Devices" %>

<section class="bit-page page-devices">
  <header class="bit-header">
    <h1 class="label">
      Devices

      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:devices), query: %>
      <%= render "shared/actions/new", path: routes.path(:device_new) %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>These are you devices, both physical and virtual, managed by this server.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by device label using partial or full label.</p>

    <h2 class="label">Keyboard Shortcuts</h2>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New device.</li>
      <li><kbd>CONTROL + s</kbd>: Save device (when within form).</li>
    </ul>
  <% end %>

  <% if devices.any? %>
    <ul class="bit-gallery">
      <% devices.each do |device| %>
        <%= device.render :device %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No devices found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "View").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
  <%= scope(:tooltip_action_content, label: "Logs").render %>
  <%= scope(:tooltip_action_content, label: "Delete").render %>
</section>
