<li id="<%= firmware.id %>" class="bit-card">
  <h2 class="label"><%= firmware.version %></h2>

  <span><%= firmware.kind_label %></span>
  <span><%= size firmware.attachment_size %></span>

  <div class="actions">
    <%= render "shared/actions/show", path: routes.path(:firmware, id: firmware.id) %>
    <%= render "shared/actions/edit", path: routes.path(:firmware_edit, id: firmware.id) %>

    <%= render "shared/actions/download",
               path: firmware.attachment_uri,
               name: firmware.attachment_name %>

    <%= render "shared/actions/delete",
               path: routes.path(:firmware, id: firmware.id),
               subject: :firmware %>
  </div>
</li>
