<%= render "shared/title", text: "Edit Firmware #{firmware.version}" %>

<section class="bit-page">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Firmware", routes.path(:firmwares), class: :link %>
      </li>

      <li class="bit-breadcrumb">
        <%= link_to firmware.version, routes.path(:firmware, id: firmware.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="firmwares">
      <%= form_for :firmware,
                   routes.path(:firmware, id: firmware.id),
                   method: :put,
                   enctype: "multipart/form-data",
                   accept: "application/octet-stream",
                   class: "bit-card bit-form" do |form| %>
        <h1 class="label">Edit Firmware</h1>

        <%= render "firmware/shared/fields", form:, firmware:, fields:, errors: %>

        <div class="form-actions">
          <%= form.submit "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:firmwares), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
</section>
