<%= render "shared/title", text: "Firmware" %>

<section class="bit-page">
  <header class="bit-header">
    <h1 class="label">
      Firmware
      <%= render "shared/popovers/triggers/default", name: :overview, width: 20, height: 20 %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:firmwares), query: %>
      <%= render "shared/actions/new", path: routes.path(:firmware_new) %>

      <%= render "shared/actions/delete",
                 path: routes.path(:bulk_firmware),
                 label: "Delete All",
                 class: "bit-button-delete",
                 confirm: "Are you sure you want to delete all firmware?",
                 target: ".bit-gallery" %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Allows you to manage firmware updates for your devices. New versions will automatically appear via the Firmware Poller (see <a href="https://github.com/usetrmnl/terminus/blob/main/doc/jobs.adoc">Jobs</a> documentation for details). You can also add your own custom firmware and your devices will automatically update when the new version is higher than the previous version.</p>

    <p>💡 To revert to a previous version, for example, do the following:</p>

    <ul>
      <li>Disable the Firmware Poller.</li>
      <li>Upload the older version.</li>
      <li>Delete the undesired newer version.</li>
      <li>Wait for your devices to update to the desired version.</li>
      <li>Later, when wanting to pick up a new version, re-enable the Firmware Poller and wait for your devices to upgrade a usual.</li>
    </ul>

    <p>⚠️ Ensure you don't upload the same firmware with a different version because your devices will end up in an endless upgrade loop. To fix, delete the duplicate firmware <em>or</em> ensure your custom built firmware matches the same version as uploaded here.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by version using partial or full version information.</p>

    <h2 class="label">Tools</h2>

    <p>The following tools can help you when needing to restore your device by flashing your hardware or apply customized branding.</p>

    <ul>
      <li><a href="https://trmnl.com/flash">Flash</a>: A flashing tool.</li>
      <li><a href="https://tailor.trmnl.com">Tailor</a>: A branding tool.</li>
    </ul>
  <% end %>

  <% if firmware.any? %>
    <ul class="bit-gallery">
      <% firmware.each do |record| %>
        <%= record.render :firmware, firmware: record %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No firmware found." %>
    </div>
  <% end %>
</section>
