<ul class="links">
  <li class="item"><%= git_link %></li>
</ul>

<ul class="links">
  <li class="item">
    <%= link_to "TRMNL", "https://trmnl.com", class: :link %>
  </li>

  <li class="item">
    <%= link_to "Help", "https://help.usetrmnl.com", class: :link %>
  </li>

  <li class="item">
    <%= link_to "YouTube",
                "https://www.youtube.com/playlist?list=PLrBM92erso_AFRIDfFGRMEJnEc3lki9Qb",
                class: :link %>
  </li>

  <li class="item">
    <%= link_to "Problem Details", routes.path(:problem_details), class: :link %>
  </li>

  <li class="item">
    <%= link_to "Source", "https://github.com/usetrmnl/terminus", class: :link %>
  </li>
</ul>
