<li id="<%= item.id %>" class="bit-card">
  <h2 class="label"><%= item.name %></h2>

  <%= render "shared/popovers/triggers/screen", name: "screen-#{item.id}" do %>
    <%= tag.img src: item.screenshot_url, alt: "Screenshot", class: :screen, loading: :lazy %>
  <% end %>

  <%= scope(
        :popover_screen_content,
        id: item.id,
        label: item.name,
        uri: item.screenshot_url
      ).render %>

  <div class="info">
    <span><%= pluralize "connection", "s", item.statistics.installs %></span>
    <span><%= pluralize "fork", "s", item.statistics.forks %></span>
  </div>

  <div class="actions">
    <%= form_for routes.path(:extensions_gallery_create) do |form| %>
      <%= form.hidden_field :id, value: item.id %>

      <%= form.submit class: "action bit-button" do %>
        <%= image_tag "icons/plus.svg", alt: "Import", class: :icon, width: 25, height: 25 %>
      <% end %>
    <% end %>
  </div>
</li>
