<%= render "shared/title", text: "Gallery" %>

<section class="bit-page">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Extensions", routes.path(:extensions) %></li>
      <li class="bit-breadcrumb">
        Gallery
        <%= render "shared/popovers/triggers/default", name: :overview, width: 20, height: 20 %>
      </li>
    </ul>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:extensions_gallery), query:, page: %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Gallery").render do %>
    <p>Welcome to the gallery where you can browse and import <a href="https://trmnl.com/recipes">TRMNL Recipes</a> as extensions.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by recipe label using partial or full label.</p>
  <% end %>

  <% if recipe.data.any? %>
    <ul class="bit-gallery">
      <% recipe.data.each do |item| %>
        <%= render :item, item: %>
      <% end %>

      <% if recipe.meta.more? %>
        <%= tag.li class: "bit-card",
                   **HTMX[
                     get: routes.path(:extensions_gallery, page: recipe.meta.next_page, query:),
                     select: ".bit-card",
                     trigger: "revealed",
                     swap: "this",
                     push_url: true
                   ] do %>
          Loading...
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No recipes found." %>
    </div>
  <% end %>
</section>
