<%= render "shared/title", text: "Edit #{user.name}" %>

<section class="bit-page page-users">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Users", routes.path(:users), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to user.name, routes.path(:user, id: user.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="users">
      <%= form_for :user,
                   routes.path(:user, id: user.id),
                   method: :put,
                   class: "bit-card bit-form user" do |form| %>
        <h1 class="label">Edit User</h1>

        <%= render "users/shared/fields", form:, user:, statuses:, fields:, errors: %>

        <div class="form-actions">
          <%= render "shared/actions/save",
                     form:,
                     verb: :put,
                     path: routes.path(:user, id: user.id) %>

          <%= link_to "Cancel",
                      routes.path(:user, id: user.id),
                      class: "bit-button-decline",
                      **HTMX[
                        get: routes.path(:user, id: user.id),
                        trigger: :click,
                        target: "closest .bit-page",
                        push_url: true
                      ] %>
        </div>
      <% end %>
    </div>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
</section>
