<%= render "shared/title", text: "Users" %>

<section class="bit-page page-users">
  <header class="bit-header">
    <h1 class="label">
      Users

      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:users), query: %>
      <%= render "shared/actions/new", path: routes.path(:user_new) %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>These are the users that have access to this system.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by user name using partial or full name.</p>

    <h2 class="label">Keyboard Shortcuts</h2>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New user.</li>
      <li><kbd>CONTROL + s</kbd>: Save user (when within form).</li>
    </ul>
  <% end %>

  <% if users.any? %>
    <ul class="bit-gallery">
      <% users.each do |user| %>
        <%= user.render :user %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No users found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "View").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
</section>

