<%= render "shared/title", text: "New User" %>

<section class="bit-page page-users">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Users", routes.path(:users), class: :link %></li>
      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="users">
      <%= form_for :user, routes.path(:users), class: "bit-card bit-form user" do |form| %>
        <h1 class="label">New User</h1>

        <%= render "users/shared/fields", form:, user:, statuses:, fields:, errors: %>

        <div class="form-actions">
          <%= render "shared/actions/save", form:, path: routes.path(:users) %>
          <%= link_to "Cancel", routes.path(:users), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
</section>
