<%= tag.section class: "reeler",
                **HTMX[
                  select_oob: "#slide, #progress, #actions",
                  swap: "transition:true"
                ] do %>

  <div class="container">
    <div class="viewport">
      <%= tag.img id: :slide,
                  src: current.image_uri,
                  alt: current.label,
                  class: :slide,
                  width: current.width,
                  height: current.height %>
    </div>

    <%= tag.progress id: :progress,
                     "aria-label" => status,
                     class: :progress,
                     value: index,
                     max: total %>

    <%= tag.div id: :actions, class: :actions do %>
      <%= render :direction,
                 label: "Previous",
                 uri: previous_uri,
                 direction: :backward,
                 key: "ArrowLeft" %>

      <%= tag.span status, class: "bit-text-center" %>

      <%= render :direction,
                 label: "Next",
                 uri: next_uri,
                 direction: :forward,
                 key: "ArrowRight" %>

      <%= render :direction, label: "First", uri: first_uri, direction: :backward, key: "[" %>

      <button class="fullscreen" onclick="Terminus.toggleFullscreen()">
        <%= image_tag "icons/fullscreen.svg",
                      alt: "Fullscreen",
                      class: :fullscreen,
                      width: 25,
                      height: 25,
                      loading: :lazy %>
      </button>

      <%= render :direction, label: "Last", uri: last_uri, direction: :forward, key: "]" %>
    <% end %>
  </div>
<% end %>
