<%= render "shared/title", text: "#{playlist.label} Screens" %>

<section class="bit-page page-playlists">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Playlists", routes.path(:playlists), class: :link %>
      </li>

      <li class="bit-breadcrumb">
        <%= link_to playlist.label, routes.path(:playlist, id: playlist.id), class: :link %>
      </li>

      <%= tag.li "Screens", class: "bit-breadcrumb" %>
    </ul>

    <%= render "shared/popovers/triggers/default", name: :shortcuts, width: 20, height: 20 %>

    <%= scope(:popover_default_content, name: :shortcuts, label: "Keyboard Shortcuts").render do %>
      <ul>
        <li><kbd>←</kbd>: Go to previous slide</li>
        <li><kbd>→</kbd>: Go to next slide</li>
        <li><kbd>[</kbd>: Go to first slide</li>
        <li><kbd>]</kbd>: Go to last slide</li>
        <li><kbd>f</kbd>: Toggle fullscreen</li>
        <li><kbd>ESC</kbd>: Exit fullscreen</li>
      </ul>
    <% end %>
  </header>

  <% if playlist.screens.any? %>
    <%= render :screen,
               playlist:,
               current:,
               previous_uri:,
               next_uri:,
               first_uri:,
               last_uri:,
               index:,
               total:,
               status: %>
  <% else %>
    <div class="playlists">
      <%= render "shared/empty", message: "No screens found." %>
    </div>
  <% end %>
</section>
