<fieldset class="column">
  <%= scope(:form_field, key: :model_id, errors:).render do %>
    <label class="key" for="device_model_id">
      Model
      <%= scope(:popover_trigger_button, tip: :info, target: :model).render %>
    </label>

    <%= form.select :model_id, select_options_for(models), id: :device_model_id, class: :value %>
  <% end %>

  <%= scope(:form_field, key: :playlist_id, errors:).render do %>
    <label class="key" for="device_playlist_id">
      Playlist
      <%= scope(:popover_trigger_button, tip: :info, target: :playlist).render %>
    </label>

    <%= form.select :playlist_id,
                    select_options_for(playlists),
                    id: :device_playlist_id,
                    class: :value %>
  <% end %>

  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="device_label">Label</label>

    <%= form.text_field :label,
                        id: :device_label,
                        value: field_for(:label, fields, device),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :mac_address, errors:).render do %>
    <label class="key" for="device_mac_address">
      MAC Address
      <%= scope(:popover_trigger_button, tip: :info, target: :mac_address).render %>
    </label>

    <div class="input-group" x-data="{ show: false }">
      <%= form.text_field :mac_address,
                          id: :device_mac_address,
                          value: field_for(:mac_address, fields, device),
                          class: "value value-cap",
                          autocomplete: :off,
                          "x-bind:type" => "show ? 'text' : 'password'"%>

      <%= render "shared/visibility_button" %>
    </div>
  <% end %>

  <%= scope(:form_field, key: :api_key, errors:).render do %>
    <label class="key" for="device_api_key">
      API Key
      <%= scope(:popover_trigger_button, tip: :info, target: :api_key).render %>
    </label>

    <div class="input-group" x-data="{ show: false }">
      <%= form.text_field :api_key,
                          id: :device_api_key,
                          value: field_for(:api_key, fields, device),
                          class: "value value-cap",
                          autocomplete: :off,
                          "x-bind:type" => "show ? 'text' : 'password'"%>

      <%= render "shared/visibility_button" %>
    </div>
  <% end %>

  <%= scope(:form_field, key: :refresh_rate, errors:).render do %>
    <label class="key" for="device_refresh_rate">
      Refresh Rate
      <%= scope(:popover_trigger_button, tip: :info, target: :refresh_rate).render %>
    </label>

    <%= form.number_field :refresh_rate,
                          id: :device_refresh_rate,
                          value: field_for(:refresh_rate, fields, device),
                          class: :value,
                          min: 20 %>
  <% end %>

  <%= scope(:form_field, key: :image_timeout, errors:).render do %>
    <label class="key" for="device_image_timeout">
      Image Timeout
      <%= scope(:popover_trigger_button, tip: :info, target: :image_timeout).render %>
    </label>

    <%= form.number_field :image_timeout,
                          id: :device_image_timeout,
                          value: field_for(:image_timeout, fields, device),
                          class: :value,
                          min: 0 %>
  <% end %>

  <%= scope(:form_field, key: :firmware_update, errors:).render do %>
    <%= form.check_box :firmware_update,
                       id: :device_firmware_update,
                       checked: field_for(:firmware_update, fields, device),
                       switch: true,
                       class: :checkbox %>

    <label class="key" for="device_firmware_update">
      Firmware Update
      <%= scope(:popover_trigger_button, tip: :info, target: :firmware_update).render %>
    </label>
  <% end %>

  <%= scope(:form_field, key: :display_compatibility, errors:).render do %>
    <%= form.check_box :display_compatibility,
                       id: :device_display_compatibility,
                       checked: field_for(:display_compatibility, fields, device),
                       switch: true,
                       class: :checkbox %>

    <label class="key" for="device_display_compatibility">
      Display Compatibility
      <%= scope(:popover_trigger_button, tip: :info, target: :display_compatibility).render %>
    </label>
  <% end %>

  <%= scope(:form_field, key: :display_profile, errors:).render do %>
    <label class="key" for="device_display_profile">
      Display Profile
      <%= scope(:popover_trigger_button, tip: :info, target: :display_profile).render %>
    </label>

    <%= form.select :display_profile,
                    [%w[Default default], %w[A a], %w[B b]],
                    id: :device_display_profile,
                    class: :value %>
  <% end %>

  <%= scope(:form_field, key: :command, errors:).render do %>
    <label class="key" for="device_command">
      Command
      <%= scope(:popover_trigger_button, tip: :info, target: :command).render %>
    </label>

    <%= form.select :command,
                    select_options(translate("devices.shared._fields.commands")),
                    id: :device_command,
                    class: :value %>
  <% end %>

  <%= scope(:form_field, key: :touch_bar, errors:).render do %>
    <label class="key" for="device_touch_bar">
      Touch Bar
      <%= scope(:popover_trigger_button, tip: :info, target: :touch_bar).render %>
    </label>

    <%= form.select :touch_bar,
                    [%w[Tap tap], %w[Swipe swipe]],
                    id: :device_touch_bar,
                    class: :value %>
  <% end %>

  <%= scope(:form_field, key: :sleep_start_at, errors:).render do %>
    <label class="key" for="device_sleep_start_at">
      Sleep Start
      <%= scope(:popover_trigger_button, tip: :info, target: :sleep_start).render %>
    </label>

    <%= form.time_field :sleep_start_at,
                        id: :device_sleep_start_at,
                        value: field_for(:sleep_start_at, fields, device),
                        class: :value %>
  <% end %>

  <%= scope(:form_field, key: :sleep_stop_at, errors:).render do %>
    <label class="key" for="device_sleep_stop_at">
      Sleep Stop
      <%= scope(:popover_trigger_button, tip: :info, target: :sleep_stop).render %>
    </label>

    <%= form.time_field :sleep_stop_at,
                        id: :device_sleep_stop_at,
                        value: field_for(:sleep_stop_at, fields, device),
                        class: :value %>
  <% end %>
</fieldset>

<%= render "devices/shared/popovers/all" %>
