<fieldset class="column">
  <%= scope(:form_field, key: :model_id, errors:).render do %>
    <label class="key" for="device_model_id">
      Model
      <%= render "shared/popovers/triggers/default", name: :model %>
    </label>

    <%= form.select :model_id, select_options_for(models), id: :device_model_id, class: :value %>
  <% end %>

  <%= scope(:form_field, key: :playlist_id, errors:).render do %>
    <label class="key" for="device_playlist_id">
      Playlist
      <%= render "shared/popovers/triggers/default", name: :playlist %>
    </label>

    <%= form.select :playlist_id,
                    select_options_for(playlists),
                    id: :device_playlist_id,
                    class: :value %>
  <% end %>

  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="device_label">Label</label>

    <%= form.text_field :label,
                        id: :device_label,
                        value: field_for(:label, fields, device),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :friendly_id, errors:).render do %>
    <label class="key" for="device_friendly_id">
      Friendly ID
      <%= render "shared/popovers/triggers/default", name: :friendly_id %>
    </label>

    <%= form.text_field :friendly_id,
                        id: :device_friendly_id,
                        value: field_for(:friendly_id, fields, device),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :mac_address, errors:).render do %>
    <label class="key" for="device_mac_address">
      MAC Address
      <%= render "shared/popovers/triggers/default", name: :mac_address %>
    </label>

    <div class="input-group" x-data="{
      show: false,
      generateMAC() {
        const hex = () => [...Array(2)].map(() => Math.floor(Math.random() * 16).toString(16).toUpperCase()).join('');
        this.$refs.mac.value = [hex(), hex(), hex(), hex(), hex(), hex()].join(':');
      }
    }">
      <%= form.text_field :mac_address,
                          id: :device_mac_address,
                          value: field_for(:mac_address, fields, device),
                          class: "value value-cap",
                          autocomplete: :off,
                          "x-ref" => "mac",
                          "x-bind:type" => "show ? 'text' : 'password'"%>

      <button type="button" class="action" title="Generate MAC address" x-on:click="generateMAC(); show = true">
        <%= image_tag "icons/refresh.svg", alt: "Generate", width: 25, height: 25 %>
      </button>

      <%= render "shared/visibility_button" %>
    </div>
  <% end %>

  <%= scope(:form_field, key: :api_key, errors:).render do %>
    <label class="key" for="device_api_key">
      API Key
      <%= render "shared/popovers/triggers/default", name: :api_key %>
    </label>

    <div class="input-group" x-data="{
      show: false,
      generateKey() {
        const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        this.$refs.apikey.value = [...Array(20)].map(() => chars[Math.floor(Math.random() * chars.length)]).join('');
      }
    }">
      <%= form.text_field :api_key,
                          id: :device_api_key,
                          value: field_for(:api_key, fields, device),
                          class: "value value-cap",
                          autocomplete: :off,
                          "x-ref" => "apikey",
                          "x-bind:type" => "show ? 'text' : 'password'"%>

      <button type="button" class="action" title="Generate API key" x-on:click="generateKey(); show = true">
        <%= image_tag "icons/refresh.svg", alt: "Generate", width: 25, height: 25 %>
      </button>

      <%= render "shared/visibility_button" %>
    </div>
  <% end %>

  <%= scope(:form_field, key: :refresh_rate, errors:).render do %>
    <label class="key" for="device_refresh_rate">
      Refresh Rate
      <%= render "shared/popovers/triggers/default", name: :refresh_rate %>
    </label>

    <%= form.number_field :refresh_rate,
                          id: :device_refresh_rate,
                          value: field_for(:refresh_rate, fields, device),
                          class: :value,
                          min: 20 %>
  <% end %>

  <%= scope(:form_field, key: :image_timeout, errors:).render do %>
    <label class="key" for="device_image_timeout">
      Image Timeout
      <%= render "shared/popovers/triggers/default", name: :image_timeout %>
    </label>

    <%= form.number_field :image_timeout,
                          id: :device_image_timeout,
                          value: field_for(:image_timeout, fields, device),
                          class: :value,
                          min: 0 %>
  <% end %>

  <%= scope(:form_field, key: :firmware_update, errors:).render do %>
    <%= form.check_box :firmware_update,
                       id: :device_firmware_update,
                       checked: field_for(:firmware_update, fields, device),
                       switch: true,
                       class: :checkbox %>

    <label class="key" for="device_firmware_update">
      Firmware Update
      <%= render "shared/popovers/triggers/default", name: :firmware_update %>
    </label>
  <% end %>

  <%= scope(:form_field, key: :proxy, errors:).render do %>
    <%= form.check_box :proxy,
                       id: :device_proxy,
                       checked: field_for(:proxy, fields, device),
                       switch: true,
                       class: :checkbox %>

    <label class="key" for="device_proxy">
      Proxy
      <%= render "shared/popovers/triggers/default", name: :proxy %>
    </label>
  <% end %>

  <%= scope(:form_field, key: :sleep_start_at, errors:).render do %>
    <label class="key" for="device_sleep_start_at">
      Sleep Start
      <%= render "shared/popovers/triggers/default", name: :sleep_start %>
    </label>

    <%= form.time_field :sleep_start_at,
                        id: :device_sleep_start_at,
                        value: field_for(:sleep_start_at, fields, device),
                        class: :value %>
  <% end %>

  <%= scope(:form_field, key: :sleep_stop_at, errors:).render do %>
    <label class="key" for="device_sleep_stop_at">
      Sleep Stop
      <%= render "shared/popovers/triggers/default", name: :sleep_end %>
    </label>

    <%= form.time_field :sleep_stop_at,
                        id: :device_sleep_stop_at,
                        value: field_for(:sleep_stop_at, fields, device),
                        class: :value %>
  <% end %>
</fieldset>

<%= render "devices/shared/popovers/all" %>
