<search>
  <%= tag.form(action: path, method: :get, class: "bit-form") do %>
    <div class="input-group">
      <%= tag.input id: :search,
                    name: :query,
                    class: locals.fetch(:class, "value value-cap"),
                    tabindex: 1,
                    **HTMX[
                      get: path,
                      trigger: "search, keyup delay:200ms changed",
                      select: locals.fetch(:pick, ".bit-gallery"),
                      target: locals.fetch(:target, "next .bit-gallery"),
                      push_url: true,
                      indicator: ".bit-loader"
                    ] %>

      <%= link_to path,
                  class: "action bit-tooltip-trigger",
                  tabindex: 2,
                  interestfor: "tooltip-action-clear" do %>
        <%= image_tag "icons/cancel.svg", alt: "Clear", width: 25, height: 25 %>
      <% end %>

      <button type="submit"
              class="action-end bit-tooltip-trigger"
              tabindex="3"
              interestfor="tooltip-action-search">
        <%= image_tag "icons/search.svg", alt: "Search", width: 25, height: 25 %>
      </button>
    </div>
  <% end %>

  <div class="bit-loader htmx-indicator"></div>
</search>
