<li id="<%= extension.id %>" class="bit-card extension">
  <h2 class="label"><%= extension.label %></h2>

  <%= tag.span extension.kind %>

  <div class="actions">
    <%= link_to routes.path(:extension_edit, id: extension.id), class: :action do %>
      <%= image_tag "icons/edit.svg", alt: "Edit", width: 25, height: 25 %>
    <% end %>

    <%= render "shared/actions/clone",
               path: routes.path(:extension_clone_new, extension_id: extension.id) %>

    <%= link_to routes.path(:extension_export, extension_id: extension.id),
                download: "extension-#{extension.name}.yml",
                class: :action do %>
      <%= image_tag "icons/download.svg", alt: "Download", class: :icon, width: 25, height: 25 %>
    <% end %>

    <%= render "shared/actions/delete",
               path: routes.path(:extension_delete, id: extension.id),
               subject: :extension %>
  </div>
</li>
