<%= render "shared/title", text: "Edit #{extension.label} Extension" %>

<section class="bit-page page-extensions">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Extensions", routes.path(:extensions), class: :link %>
      </li>

      <li class="bit-breadcrumb"><%= extension.label %></li>
      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="extensions bit-card">
      <h1 class="label">Edit Extension</h1>

      <div class="bit-actions">
        <%= render "shared/popovers/triggers/default",
                   name: :preview,
                   label: "Preview",
                   icon: :eye,
                   class: "bit-button-accept",
                   width: 25,
                   height: 25 %>

        <%= render "extensions/build/button",
                   path: routes.path(:extension_build_create, extension_id: extension.id) %>
      </div>

      <%= scope(:popover_default_content, name: :preview, label: nil).render do %>
        <% model = extension.models.any? ? extension.models.first : default_model %>
        <% device_id = extension.devices.first.id if extension.devices.any? %>
        <% uri = routes.path :extension_preview,
                             extension_id: extension.id,
                             model_id: model.id,
                             device_id: %>

        <div class="bit-frame">
          <%= tag.iframe src: uri,
                         style: "width: #{model.width}px; height: #{model.height}px;" %>
        </div>
      <% end %>

      <%= form_for :extension,
                   routes.path(:extension_update, id: extension.id),
                   method: :put,
                   class: "bit-form extension" do |form| %>

        <%= render "extensions/shared/fields",
                   form:,
                   models:,
                   devices:,
                   extension:,
                   exchanges:,
                   fields: fields.value,
                   errors: %>

        <div class="form-actions">
          <%= form.submit "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:extensions), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
