<%= render "shared/title", text: "Extensions" %>

<section class="bit-page page-extensions">
  <header class="bit-header">
    <h1 class="label">
      Extensions

      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:extensions), query: %>
      <%= link_to "Gallery", routes.path(:extensions_gallery), class: "bit-button-accept" %>

      <%= scope(
        :popover_trigger_button,
        icon: :upload,
        tip: :import,
        target: :import,
        width: 25,
        height: 25
      ).render %>

      <%= render "shared/actions/new", path: routes.path(:extension_new) %>
    </div>
  </header>

  <%= render :import %>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Extensions allow you to extend existing functionality with custom behavior. These are an enhanced version of what you get when using <a href="https://trmnl.com/integrations">Core Plugins</a>.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by extension label using partial or full label.</p>

    <h2 class="label">Keyboard Shortcuts</h2>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New extension.</li>
      <li><kbd>CONTROL + s</kbd>: Save extension (when within form).</li>
    </ul>
  <% end %>

  <% if extensions.any? %>
    <ul class="bit-gallery">
      <% extensions.each do |extension| %>
        <%= extension.render :extension %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No extensions found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Import").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
  <%= scope(:tooltip_action_content, label: "Clone").render %>
  <%= scope(:tooltip_action_content, label: "Download").render %>
  <%= scope(:tooltip_action_content, label: "Delete").render %>
</section>

