<li id="<%= screen.id %>" class="bit-card screen">
  <h2 class="label"><%= screen.label %></h2>

  <%= render "shared/popovers/triggers/screen", name: "screen-#{screen.id}" do %>
    <%= render "shared/screen", uri: screen.image_uri %>
  <% end %>

  <%= scope(:popover_screen_content, **screen.popover_attributes).render %>

  <span class="type">
    <%= link_to screen.model.label, routes.path(:model, id: screen.model_id) %>
  </span>

  <span class="type"><%= screen.dimensions %></span>

  <div class="actions">
    <%= render "shared/actions/show", path: routes.path(:screen, id: screen.id) %>
    <%= render "shared/actions/edit", path: routes.path(:screen_edit, id: screen.id) %>
    <%= render "shared/actions/download", path: screen.image_uri, name: screen.image_name %>

    <%= render "shared/actions/delete",
               path: routes.path(:screen, id: screen.id),
               subject: :screen %>
  </div>
</li>
