<%= render "shared/title", text: "Edit #{screen.label} Screen" %>

<section class="bit-page page-screens">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Screens", routes.path(:screens), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to screen.label, routes.path(:screen, id: screen.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="screens">
      <%= form_for :screen,
                   routes.path(:screen, id: screen.id),
                   method: :put,
                   enctype: "multipart/form-data",
                   accept: "application/octet-stream",
                   class: "bit-card bit-form" do |form| %>
        <h1 class="label">Edit Screen</h1>

        <%= render "shared/popovers/triggers/screen", name: "screen-#{screen.id}" do %>
          <%= render "shared/screen", uri: screen.image_uri %>
        <% end %>

        <%= scope(:popover_screen_content, **screen.popover_attributes).render %>
        <%= render "screens/shared/fields", form:, models:, screen:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= form.submit "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:screen, id: screen.id), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
