<%= render "shared/title", text: "Screens" %>

<section class="bit-page page-screens">
  <header class="bit-header">
    <h1 class="label">
      Screens

      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:screens), query: %>
      <%= render "shared/actions/new", path: routes.path(:screen_new) %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Screens are the final artifacts produced when created via the Designs, Extensions, API requests, and so forth. Use these screens to add to your playlists for display on your device(s). Once created, you can modify these screens to alter what is displayed on your device(s).</p>

    <p>All screens must use unique labels and names so you can distinguish between them.</p>

    <p>Some screens have names that start with the <code>terminus_</code> prefix. These are special system screens provided for you automatically when a device sleeps, wakes, errors, etc. You can customize these screens and also delete them but be aware they might reappear.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by screen label using partial or full label.</p>

    <h2 class="label">Keyboard Shortcuts</h2>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New screen.</li>
      <li><kbd>CONTROL + s</kbd>: Save screen (when within form).</li>
    </ul>
  <% end %>

  <% if screens.any? %>
    <ul class="bit-gallery">
      <% screens.each do |screen| %>
        <%= screen.render :screen %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No screens found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "View").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
  <%= scope(:tooltip_action_content, label: "Download").render %>
  <%= scope(:tooltip_action_content, label: "Delete").render %>
</section>

