<%= render "shared/title", text: "New Screen" %>

<section class="bit-page page-screens">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><a href="/screens" class="link">Screens</a></li>
      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="screens">
      <%= form_for :screen,
                   routes.path(:screens),
                   enctype: "multipart/form-data",
                   accept: "application/octet-stream",
                   class: "bit-card bit-form" do |form| %>
        <h1 class="label">New Screen</h1>

        <%= render "screens/shared/fields", form:, models:, screen:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= form.submit "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:screens), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
