<%= render "shared/title", text: "Clone Extension" %>

<section class="bit-page page-extensions">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Extensions", routes.path(:extensions), class: :link %>
      </li>

      <li class="bit-breadcrumb">Clone</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="extensions">
      <%= form_for :extension,
                   routes.path(:extension_clone, extension_id: extension.id),
                   class: "bit-card bit-form extension" do |form| %>

        <h1 class="label">Clone Extension</h1>

        <%= render "extensions/shared/fields",
                   extension:,
                   form:,
                   models:,
                   devices:,
                   fields:,
                   errors: %>

        <div class="form-actions">
          <%= form.submit "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:extensions), class: "bit-button-decline" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
</section>
