<li id="<%= model.id %>" class="bit-card model">
  <h2 class="label"><%= model.label %></h2>

  <%= tag.span model.kind_label %>
  <%= tag.span model.dimensions %>

  <div class="actions">
    <%= render "shared/actions/view", path: routes.path(:model, id: model.id) %>
    <%= render "shared/actions/edit", path: routes.path(:model_edit, id: model.id) %>
    <%= render "shared/actions/clone", path: routes.path(:model_clone_new, model_id: model.id) %>
    <%= render "shared/actions/delete", path: routes.path(:model, id: model.id), subject: :model %>
  </div>
</li>
