<%= render "shared/title", text: "Edit #{model.label} Model" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Models", routes.path(:models), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to model.label, routes.path(:model, id: model.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="models">
      <%= form_for :model,
                   routes.path(:model_update, id: model.id),
                   method: :put,
                   class: "bit-card bit-form model" do |form| %>
        <h1 class="label">Edit Model</h1>

        <%= render "models/shared/fields",
                   form:,
                   model:,
                   palette_options:,
                   fields: fields.value,
                   errors: %>

        <div class="form-actions">
          <%= render "shared/actions/save",
                     form:,
                     verb: :put,
                     path: routes.path(:model_update, id: model.id) %>

          <a href="<%= routes.path :model, id: model.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :model, id: model.id %>"
             hx-trigger="click"
             hx-target="closest .bit-page"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>
