<%= render "shared/title", text: "Models" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <h1 class="label">
      Models

      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:models), query: %>

      <%= render "shared/actions/new", path: routes.path(:model_new) %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Models provide the low-level specifications for <%= link_to "Devices", routes.path(:devices) %> and <%= link_to "Screens", routes.path(:screens) %>. These specifications dictate how screens should be created and rendered on your devices. All models must use unique labels and names so you can distinguish between them.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by model label using partial or full label.</p>

    <h2 class="label">Keyboard Shortcuts</h2>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New model.</li>
      <li><kbd>CONTROL + s</kbd>: Save model (when within form).</li>
    </ul>
  <% end %>

  <% if models.any? %>
    <ul class="bit-gallery">
      <% models.each do |model| %>
        <%= model.render :model %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No models found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "View").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
  <%= scope(:tooltip_action_content, label: "Clone").render %>
  <%= scope(:tooltip_action_content, label: "Delete").render %>
</section>
