<%= render "shared/title", text: "#{model.label} Model" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Models", routes.path(:models), class: :link %></li>
      <li class="bit-breadcrumb"><%= model.label %></li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card model">
      <h2 class="label"><%= model.label %></h2>

      <div class="actions">
        <%= render "shared/actions/edit", path: routes.path(:model_edit, id: model.id) %>
      </div>

      <%= scope(:tooltip_action_content, label: "Edit").render %>

      <dl class="bit-definition-list">
         <dt class="key">
           Name
           <%= scope(:popover_trigger_button, tip: :info, target: :name).render %>
         </dt>
         <dd class="value"><%= model.name %></dd>

         <dt class="key">
           Description
           <%= scope(:popover_trigger_button, tip: :info, target: :description).render %>
         </dt>
         <dd class="value"><%= model.description %></dd>

         <dt class="key">
           Kind
           <%= scope(:popover_trigger_button, tip: :info, target: :kind).render %>
         </dt>
         <dd class="value"><%= model.kind_label %></dd>

         <dt class="key">
           MIME Type
           <%= scope(:popover_trigger_button, tip: :info, target: :mime_type).render %>
         </dt>
         <dd class="value"><%= model.mime_type %></dd>

         <dt class="key">
           Colors
           <%= scope(:popover_trigger_button, tip: :info, target: :colors).render %>
         </dt>
         <dd class="value"><%= model.colors %></dd>

         <dt class="key">
           Bit Depth
           <%= scope(:popover_trigger_button, tip: :info, target: :bit_depth).render %>
         </dt>
         <dd class="value"><%= model.bit_depth %></dd>

         <dt class="key">
           Rotation
           <%= scope(:popover_trigger_button, tip: :info, target: :rotation).render %>
         </dt>
         <dd class="value"><%= model.rotation %></dd>

         <dt class="key">
           X Offset
           <%= scope(:popover_trigger_button, tip: :info, target: :offset_x).render %>
         </dt>
         <dd class="value"><%= model.offset_x %></dd>

         <dt class="key">
           Y Offset
           <%= scope(:popover_trigger_button, tip: :info, target: :offset_y).render %>
         </dt>
         <dd class="value"><%= model.offset_y %></dd>

         <dt class="key">
           Scale Factor
           <%= scope(:popover_trigger_button, tip: :info, target: :scale_factor).render %>
         </dt>
         <dd class="value"><%= model.scale_factor %></dd>

         <dt class="key">
           Width
           <%= scope(:popover_trigger_button, tip: :info, target: :width).render %>
         </dt>
         <dd class="value"><%= model.width %></dd>

         <dt class="key">
           Height
           <%= scope(:popover_trigger_button, tip: :info, target: :height).render %>
         </dt>
         <dd class="value"><%= model.height %></dd>

         <dt class="key">
           Default Palette
           <%= scope(:popover_trigger_button, tip: :info, target: :default_palette).render %>
         </dt>
         <dd class="value"><%= model.default_palette_label %></dd>

         <dt class="key">
           Allowed Palettes
           <%= scope(:popover_trigger_button, tip: :info, target: :allowed_palettes).render %>
         </dt>
         <dd class="value"><%= model.allowed_palettes %></dd>

         <dt class="key">
           CSS
           <%= scope(:popover_trigger_button, tip: :info, target: :css).render %>
         </dt>
         <dd class="value">
          <%= tag.textarea id: :css,
                           class: "bit-editor",
                           data: {language: :json, mode: :read} do %><%= model.formatted_css %><% end %>
         </dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at model.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at model.updated_at %></dd>
      </dl>
    </div>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= render "models/shared/popovers/all" %>
</section>
