<% screen = item.screen %>

<div class="show_item">
  <%= scope(
        :popover_trigger_button,
        target: "screen-#{screen.id}"
      ).render("shared/popovers/triggers/screen") do %>
    <%= render "shared/screen", uri: screen.image_uri %>
  <% end %>

  <%= scope(:popover_screen_content, **screen.popover_attributes).render %>

  <div class="labels">
    <%= link_to item.screen.label, routes.path(:screen, id: item.screen.id) %>
    <%= playlist.current_screen_pill item %>
  </div>
</div>
