<% current_screen = playlist.current_screen %>

<li id="<%= playlist.id %>" class="bit-card playlist">
  <h2 class="label"><%= playlist.label %></h2>

  <%= render "shared/popovers/triggers/screen", name: "screen-#{current_screen.id}" do %>
    <%= render "shared/screen", uri: current_screen.image_uri %>
  <% end %>

  <%= scope(:popover_screen_content, **current_screen.popover_attributes).render %>
  <div class="bit-pill bit-pill-active">Current Screen</div>
  <%= tag.span playlist.mode.capitalize %>

  <div class="actions">
    <%= render "shared/actions/view", path: routes.path(:playlist, id: playlist.id) %>
    <%= render "shared/actions/edit", path: routes.path(:playlist_edit, id: playlist.id) %>

    <%= render "shared/actions/play",
               path: routes.path(:playlist_screens, playlist_id: playlist.id) %>

    <%= render "shared/actions/clone",
               path: routes.path(:playlist_clone_new, playlist_id: playlist.id) %>

    <%= render "shared/actions/mirror",
               path: routes.path(:playlist_mirror_edit, playlist_id: playlist.id),
               target: "closest .bit-page" %>

    <%= render "shared/actions/delete",
               path: routes.path(:playlist, id: playlist.id),
               subject: :playlist %>
  </div>
</li>
