<%= render "shared/title", text: "Edit #{template.label} Design" %>

<section class="bit-page page-designer">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Designs", routes.path(:designs), class: :link %></li>
      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <figure class="device"
            hx-ext="sse"
            hx-swap="innerHTML"
            sse-connect="/preview/<%= current_screen_id %>"
            sse-swap="preview">
      <%= render :loader %>
    </figure>

    <%= form_for :template,
                 routes.path(:design, id: template.id),
                 method: :put,
                 id: :form,
                 class: "bit-card bit-form" do |form| %>
      <h1 class="label">Edit Design</h1>

      <%= scope(:form_field, key: :screen_id, errors:).render do %>
        <label class="key" for="screen_id">
          Screen
          <%= scope(:popover_trigger_button, tip: :info, target: :screen).render %>
        </label>

        <%= tag.select id: :screen_id, name: :screen_id, class: :value do %>
          <% screens.each do |screen| %>
            <%= tag.option screen.label, value: screen.id %>
          <% end %>
        <% end %>
      <% end %>

      <%= render "shared/fields",
                 form:,
                 screens:,
                 current_screen_id:,
                 template:,
                 fields:,
                 errors: %>

      <div class="form-actions">
        <%= form.submit "Save",
                        class: "bit-button-accept",
                        **HTMX[
                          put: routes.path(:design, id: template.id),
                          trigger: "click, keyup[ctrlKey&&key=='s'] from:body",
                          select_oob: "#form",
                          disabled_elt: "this"
                        ] %>

        <%= link_to "Cancel", routes.path(:designs), class: "bit-button-decline" %>
      </div>
    <% end %>
  </div>

  <%= scope(:tooltip_action_content, label: "Info").render %>
</section>
