<%= render "shared/title", text: "Designs" %>

<section class="bit-page page-designer">
  <header class="bit-header">
    <h1 class="label">
      Designs
      <%= scope(
            :popover_trigger_button,
            tip: :info,
            target: :overview,
            width: 20,
            height: 20
          ).render %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/actions/search", path: routes.path(:designs), query: %>
      <%= render "shared/actions/new", path: routes.path(:design_new) %>
    </div>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Use to manage templates for building screens. Each template can have multiple screens associated with it.</p>

    <p>Each screen associated with your template can be found via the <%= link_to "Screens", routes.path(:screens) %> page. By default, each screen will use the same label and name as your template but you can rename associated screens once created.</p>
  <% end %>

  <% if templates.any? %>
    <ul class="bit-gallery">
      <% templates.each do |template| %>
        <%= render :template, template: %>
      <% end %>
    </ul>
  <% else %>
    <div class="bit-gallery">
      <%= render "shared/empty", message: "No templates found." %>
    </div>
  <% end %>

  <%= scope(:tooltip_action_content, label: "Info").render %>
  <%= scope(:tooltip_action_content, label: "New").render %>
  <%= scope(:tooltip_action_content, label: "Search").render %>
  <%= scope(:tooltip_action_content, label: "Clear").render %>
  <%= scope(:tooltip_action_content, label: "Edit").render %>
  <%= scope(:tooltip_action_content, label: "Delete").render %>
</section>
