<fieldset class="column">
  <%= scope(:form_field, key: :version, errors:).render do %>
    <label class="key" for="firmware_version">
      Version
      <%= scope(:popover_trigger_button, tip: :info, target: :version).render %>
    </label>

    <%= form.text_field :version,
                        id: :firmware_version,
                        value: field_for(:version, fields, firmware),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :kind, errors:).render do %>
    <label class="key" for="firmware_kind">
      Kind
      <%= scope(:popover_trigger_button, tip: :info, target: :kind).render %>
    </label>

    <%= form.text_field :kind,
                        id: :firmware_kind,
                        value: field_for(:kind, fields, firmware),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :attachment, errors:).render do %>
    <label class="key" for="firmware_attachment">
      Attachment
      <%= scope(:popover_trigger_button, tip: :info, target: :attachment).render %>
    </label>

    <%= form.file_field :attachment,
                        id: :firmware_attachment,
                        value: field_for(:attachment_data, fields, firmware),
                        class: :value %>

    <%= tag.span firmware.attachment_name, class: "bit-pill bit-pill-active" if firmware && firmware.attachment_attributes %>
  <% end %>

  <%= render "firmware/shared/popovers/all" %>
</fieldset>

