<% screen = item.screen %>

<div class="item">
  <%= render "shared/popovers/triggers/screen", name: "screen-#{screen.id}" do %>
    <%= render "shared/screen", uri: screen.image_uri %>
  <% end %>

  <%= scope(:popover_screen_content, **screen.popover_attributes).render %>

  <div class="actions">
    <%= render "shared/actions/edit",
               path: routes.path(:playlist_item_edit, playlist_id: item.playlist_id, id: item.id),
               target: "closest .item" %>

    <%= render "shared/actions/delete",
               path: routes.path(:playlist_item, playlist_id: item.playlist_id, id: item.id),
               subject: :item,
               target: "closest .item" %>
  </div>
</div>
